extends ../layout.pug

block customHead
  link(href="/viewBook/index.css" type="text/css" rel="stylesheet")
  script(src='/viewBook/index.js')

block content
  .main-page.container
    h1.display-4= title
    form.mt-4
      .form-group
        h2 id
        h5= id
      .form-group
        h2 Название
        h5= name
      .form-group
        h2 Описание
        h5= description
      .form-group
        h2 Автор
        h5= authors
      .form-group
        h2 Обложка
        img(src=`../${cover}`) 
    a(type="button" class="btn btn-primary" href='/update') Изменить


